{% load staticfiles %}
{% load compressed %}

<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>

        <link rel='shortcut icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'>

        {% compressed_css "main" %}

        {% include 'utils/header.html' %}

        <script src='{% static "scripts/require.conf.js" %}'></script>
        <script>
            require.baseUrl = '{% static "" %}';
        </script>
        <script data-main='main' src='{% static "lib/requirejs/require.js" %}'></script>
    </head>

    <body>

    </body>

</html>
